.pokedex-container {
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  border-radius: 50px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  margin-top: 150px;
}

@media (max-width: 900px) {
  .loading {
    margin-top: -150px;
    margin-bottom: 150px;
  }
}
