* {
  margin: 0px;
}

body {
  background-color: rgb(221, 221, 221);
  font-family: "Satoshi", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 87vh;
  width: 99%;
  margin: 5px;
}

.list {
  display: flex;
  flex-direction: row;
}

.list p {
  margin: 5px;
}

.list-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pokemon-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .list-container {
    margin-top: 60px;
  }
  .pokemon-container {
    height: 25px;
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: center;
  }
}
